{{define "title"}}CribbNotes{{end}}

{{define "body"}}
  <h1>Deleting Note</h1>
  <form action="/destroy" method="POST">
    <input type="hidden" name="fileId" id="fileId" value="{{.Rec.FileId}}">
    <div class="alert alert-danger" role="alert">Are you sure you want to delete "{{.Rec.Title}}"?</div>
    <button type="submit" class="btn btn-default">
      <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Delete
    </button>
    <a class="btn btn-default" href="/">
      <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Back
    </a>
  </form>
{{end}}
