{{define "title"}}CribbNotes{{end}}

{{define "body"}}
  <h1>New Note</h1>
  <form action="/create" method="POST">
    <input type="hidden" name="csrf_token" value="{{ .CsrfToken }}">
    <div class="form-group">
      <label for="title">Title</label>
      <input autofocus type="text" class="form-control" name="title"> 
    </div>
    <div class="form-group">
      <label for="text">Text</label>
      <textarea class="form-control" name="text" rows="10" cols="80"></textarea>
    </div>
    <button type="submit" class="btn btn-default">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save
    </button>
    <a class="btn btn-default" href="/">
      <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Back
    </a>
  </form>
{{end}}
