{{define "layout"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{template "title"}}</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/cribbnotes.css" rel="stylesheet">
  </head>
  <body>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
    <div class="container">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <a class="navbar-brand" href="/">CribbNotes</a>
          <form class="navbar-form navbar-left" role="search" action="/search" method="POST">
            <div class="input-group">
              <span class="input-group-btn">
                <a class="btn btn-primary" href="/">
                  <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                </a>
              </span>
              <input {{if .FocusSearchString}} autofocus {{end}} type="text" class="form-control" id="searchTags" name="searchString" 
               value="{{.SearchString}}" placeholder="Enter words to search for...">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">Search</button>
              </span>
            </div>
          </form>
          <p class="navbar-text navbar-right">
            <a class="btn btn-default" href="/new">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Note
            </a>
          </p>
        </div>
      </nav>
      {{if .StatusMsg}} 
        <div class="alert alert-danger" role="alert">{{.StatusMsg}}</div>
      {{end}}
      {{template "body" .}}
      <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
          <p class="navbar-text navbar-left">
            You have
            {{.TotalRecs}}
            notes!
          </p>
          <p class="navbar-text navbar-right">
          <a href="https://github.com/jameycribbs/cribbnotes">CribbNotes was developed by Jamey Cribbs </a>
          </p>
        </div>
      </nav>
    </div>
  </body>
</html>
{{end}}
